.topbox {
  background-color: #ffb26b;
  height: 200px;
  width: 200px;
  border: 10px;
  border-style: solid;
  padding: 20px;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.middlebox {
  height: 200px;
  width: 200px;
  margin-left: 260px;
  border: 20px;
  border-style: solid;
  background-color: red;
}

.bottombox {
  height: 200px;
  width: 200px;
  margin-left: 500px;
  border: 10px;
  border-style: solid;
  background-color: blue;
}
